:root {
    --white-50: #FFFFFF;
    --white-100: #FAFAFA;
    --white-200: #F5F5F5;
    --white-300: #F0F0F0;
    --white-400: #DEDEDE;
    --white-500: #C2C2C2;
    --white-600: #979797;
    --white-700: #818181;
    --white-800: #606060;
    --white-900: #3C3C3C;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--white-100);
    overflow: auto;
}

.center {
    width: 20%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container .app-title {
    font-size: 3.2rem;
    margin: 1rem 0;
}

.container #form-todo {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container #form-todo input[type="text"] {
    height: 3rem;
    width: 30rem;
    border-style: none;
    border-bottom: .25rem solid var(--white-700);
    background-color: var(--white-100);
    transition: text-indent .5s ease;
}

.container #form-todo input[type=text]:focus {
    outline: none;
    border-color: var(--white-900);
    text-indent: .5rem;
}

.container #form-todo input[type=text]:hover {
    border-color: var(--white-900);
    text-indent: .5rem;
}

.container #form-todo button[type="submit"] {
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    border-style: none;
    background: var(--white-900);
    cursor: pointer;
    display: flex;
    place-content: center;
    place-items: center;
    transition: background-color .5s ease;
}

.container #form-todo button[type="submit"]:hover {
    background: var(--white-800);
}

.container #form-todo button[type="submit"] .btn-icon {
    height: 2rem;
    width: 2rem;
}

.container .todo-list-container {
    margin: 1rem 0;
}

.container .todo-list-container .todo {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container .todo-list-container .todo .todo-list-item {
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: background-color .75s ease;
}

.container .todo-list-container .todo .todo-list-item input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    border-color: var(--white-800);
    cursor: pointer;
    margin-top: .25rem;
}

.container .todo-list-container .todo .todo-list-item span {
    font-size: 1.5rem;
    color: var(--white-900);
    font-weight: 500;
    user-select: none;
    position: relative;
}

.container .todo-list-container .todo .todo-list-item .edit-item {
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.container .todo-list-container .todo .todo-list-item .delete-item {
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.container .todo-list-container .todo .todo-list-item button img {
    height: 1.5rem;
    width: 1.5rem;
}

/* CSS Animation Part */

/* Strikethrough Initial State */
.container .todo-list-container .todo .todo-list-item input[type="checkbox"] + span::after {
    content: "";
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    height: .15rem;
    width: 0%;
    background: var(--white-900);
    transition: width .5s ease;
}

/* Strikethrough Finished State */
.container .todo-list-container .todo .todo-list-item input[type="checkbox"]:checked + span::after {
    content: "";
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    height: .15rem;
    width: 100%;
    background: var(--white-900);
    transition: width .75s ease;
}

.container .todo-list-container .todo .todo-list-item:has(input[type="checkbox"]:checked) {
    background: var(--white-500);
    transition: background-color .5s ease;
}



