:root {
    --white-50: #FFFFFF;
    --white-100: #FAFAFA;
    --white-200: #F5F5F5;
    --white-300: #F0F0F0;
    --white-400: #DEDEDE;
    --white-500: #C2C2C2;
    --white-600: #979797;
    --white-700: #818181;
    --white-800: #606060;
    --white-900: #3C3C3C;

    --red-50: #f8e4e9;
    --red-100: #f0bcc9;
    --red-200: #e693a6;
    --red-300: #dc6c84;
    --red-400: #d3546c;
    --red-500: #cb4458;
    --red-600: #bb3f54;
    --red-700: #a63a50; /* Original Start Color */
    --red-800: #91354b;
    --red-900: #6b2d41;

    --green-50: #e0f2f2;
    --green-100: #b3dfde;
    --green-200: #81ccc8;
    --green-300: #4eb7b2;
    --green-400: #27a7a0;
    --green-500: #04978e;
    --green-600: #048a81; /* Original Start Color */
    --green-700: #047a71;
    --green-800: #056a61;
    --green-900: #054e44;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--white-100);
    overflow: auto;
}

.center {
    width: 20%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container .app-title {
    font-size: 3.2rem;
    margin: 1rem 0;
}

.container #form-todo {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container #form-todo input[type="text"] {
    height: 3rem;
    width: 30rem;
    border-style: none;
    border-bottom: .25rem solid var(--white-700);
    background-color: var(--white-100);
    transition: text-indent .5s ease;
}

.container #form-todo input[type=text]:focus {
    outline: none;
    border-color: var(--white-900);
    text-indent: .5rem;
}

.container #form-todo input[type=text]:hover {
    border-color: var(--white-900);
    text-indent: .5rem;
}

.container #form-todo button[type="submit"] {
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    border-style: none;
    background: var(--white-900);
    cursor: pointer;
    display: flex;
    place-content: center;
    place-items: center;
    transition: background-color .5s ease;
}

.container #form-todo button[type="submit"]:hover {
    background: var(--white-800);
}

.container #form-todo button[type="submit"] .btn-icon {
    height: 2rem;
    width: 2rem;
}

.container .form-error-msg {
    font-size: .95rem;
    font-style: italic;
    font-weight: 500;
    color: var(--red-500);
    margin-top: -.75rem;
}

.container .todo-list-container {
    margin: 1rem 0;
}

.container .todo-list-container .todo {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container .todo-list-container .todo .todo-list-item {
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: background-color .75s ease;
}

.container .todo-list-container .todo .todo-list-item input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    border-color: var(--white-800);
    cursor: pointer;
    margin-top: .25rem;
}

.container .todo-list-container .todo .todo-list-item span {
    font-size: 1.5rem;
    color: var(--white-900);
    font-weight: 500;
    user-select: none;
    position: relative;
}

.container .todo-list-container .todo .todo-list-item .edit-item {
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.container .todo-list-container .todo .todo-list-item .delete-item {
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.container .todo-list-container .todo .todo-list-item .finish-edit-item {
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.container .todo-list-container .todo .todo-list-item .cancel-edit-item {
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    background: transparent;
    cursor: pointer;
}


.container .todo-list-container .todo .todo-list-item button img {
    height: 1.5rem;
    width: 1.5rem;
}

/* Modal CSS */

.overlay {
    border: 1px solid black;
    background: rgb(60 60 60 / .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay .modal-container {
    width: 25%;
    height: 18rem;
    background: var(--white-400);
    border-radius: 1rem;
    box-shadow: 1px 1px 1px var(--white-700);
}

.overlay .modal-container .modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.overlay .modal-container .modal-header .modal-header-close {
    border: 1px solid black;
    margin: .5rem;
    width: 2.25rem;
    height: 2.25rem;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.overlay .modal-container .modal-header .modal-header-close img {
    height: 2.25rem;
    width: 2.25rem;
}

.overlay .modal-container .modal-body {
    padding: 1rem;
    max-width: 90%;
    margin: .5rem auto;
}

.overlay .modal-container .modal-body h1 {
    font-size: 1.5rem;
    margin: 0 0 .5rem;
}

.overlay .modal-container .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.overlay .modal-container .modal-footer button {
    background: none;
    padding: .5rem 0;
    width: 7rem;
    border-radius: 1rem;
    cursor: pointer;
    border-style: none;
}

.overlay .modal-container .modal-footer .modal-footer-cancel {
    background: var(--red-600);
    color: var(--red-50);
    font-weight: 600;
    line-height: 1.5rem;
    border: 1px solid var(--red-700);
    transition: background-color .25s ease, color .25s ease;
}

.overlay .modal-container .modal-footer .modal-footer-cancel:hover {
    background: var(--red-100);
    color: var(--red-700);
}

.overlay .modal-container .modal-footer .modal-footer-confirm {
    background: var(--green-600);
    color: var(--green-50);
    font-weight: 600;
    line-height: 1.5rem;
    border: 1px solid var(--green-700);
    transition: background-color .25s ease, color .25s ease;
}

.overlay .modal-container .modal-footer .modal-footer-confirm:hover {
    background: var(--green-100);
    color: var(--green-700);
}

/* CSS Animation Part */

/* Strikethrough Initial State */
.container .todo-list-container .todo .todo-list-item input[type="checkbox"] + span::after {
    content: "";
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    height: .15rem;
    width: 0%;
    background: var(--white-900);
    transition: width .5s ease;
}

/* Strikethrough Finished State */
.container .todo-list-container .todo .todo-list-item input[type="checkbox"]:checked + span::after {
    content: "";
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    height: .15rem;
    width: 100%;
    background: var(--white-900);
    transition: width .75s ease;
}

.container .todo-list-container .todo .todo-list-item:has(input[type="checkbox"]:checked) {
    background: var(--white-500);
    transition: background-color .5s ease;
}

/* Modal CSS */

.overlay .modal-container{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .25s; /* Animation takes 1 second */
    animation-timing-function: ease-in; /* Easing function */
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* List Item Alternate Mode CSS */
.container .todo-list-container .todo .todo-list-item input[type="text"] {
    padding: 5px 0;
    width: 80%;
    font-size: 1.5rem;
    color: var(--white-900);
    font-weight: 500;
    background: transparent;
    border: none;
    border-bottom: .15rem solid var(--white-900);
}

.container .todo-list-container .todo .todo-list-item input[type="text"]:focus {
    outline: none;
}



